
@media (max-width:  1023px) {
	header {
		display: block !important; 
	}
	body {
	    font-size: 14px;
	}

	.header-user a {
	    width: auto;
	    height: 30px;
	    border-radius: 5px;
	    min-width: 100px;
	    font-size: 12px;
	}

	.header-user {
	    top: 0;
	    position: relative;
	    padding: 10px 0;
	}

	.header-user ul li {
	    padding: 0 5px;
	}

	.box-film {
	    padding: 15px 0;
	}

	.item-film .practice {
	    font-size: 14px;
	    top: 5px;
	    left: 5px;
	}

	.item-film .practice label {
	    font-weight: 500;
	}

	.list-film .row {
	    margin: 0 -7px;
	}

	.list-film .col-md-3 {
	    padding: 0 7px;
	    margin-top: 20px;
	}

	.list-film .col-md-3:first-child, .list-film .col-md-3:nth-child(2) {
		margin-top: 0;
	}

	.item-film .avarta {
	    margin-bottom: 15px;
	}

	.item-film .info a {
	    font-weight: 500;
	    font-size: 16px;
	}

	.item-film .info p {
	    margin-top: 2px;
	}

	.footer-top {
	    padding: 15px 0 0 0;
	    border-top: 1px solid #5f3f38;
	}

	.footer-top .row >div {
	    margin-bottom: 15px;
	}

	.footer-bot {
	    padding: 15px 0;
	}

	.footer-bot .logo {
	    margin-bottom: 15px;
	}

	.footer-top ul.list-mxh {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;
	}

	.footer-top ul.list-mxh li {
	    margin: 0;
	    padding-right: 25px;
	}

	.footer-top ul.list-mxh li:last-child {
	    padding-right: 0;
	}
	.main-detail .header-user {
	    display: none;
	}
	.item-prac {
	    padding: 12px 0;
	}

	.item-prac.d-flex ul li {
	    padding-right: 10px;
	}

	.box-info-detail .t-detail {
	    font-size: 20px;
	    margin-bottom: 10px;
	}

	.box-info-detail {
	    margin-bottom: 20px;
	}
	
}

@media (max-width:  767px) {
	.caption-info h1 {
	    font-weight: 500;
	    font-size: 24px;
	}

	.content-detail {
	    padding: 30px 0;
	}

	.thumbs-film {
	    display: none;
	}

	.avr-thumbs img {
	    min-height: unset;
	}
}

@media (max-width: 575px) {
	.top-practice {
	    display: block;
	    margin-bottom: 15px;
	}

	.top-practice .avr-prac {
	    margin: 0 0 15px 0;
	}
}

@media (max-width:  1023px) and (min-width: 576px) {
	.list-film .col-md-3:first-child, .list-film .col-md-3:nth-child(2) {
	    margin-top: 20px;
	}
}

@media (max-width:  767px) and (min-width: 576px) {
	.top-practice {
	    margin-bottom: 20px;
	}

	.top-practice .avr-prac {
	    margin-right: 15px;
	    flex: 0 0 40%;
	}
}

@media (max-width:  1023px) and (min-width: 768px) {
	.footer-top ul.list-mxh li {
	    padding: 0;
	    margin-bottom: 10px;
	}

	.footer-top ul.list-mxh {
	    display: block;
	}
}

@media (max-width: 1230px) and (min-width: 1024px) {
	.list-film .row {
	    margin: 0 -7px;
	}

	.list-film .col-md-3 {
	    padding: 0 7px;
	}
}