@import "fonts.scss";
$font: 'FontAwesome'; 
$black: #273337;
$red: #ce273a;
body {
    box-sizing: border-box;
    color: #fff;
    padding: 0 !important; 
    font-size: 16px; 
    line-height: 1.65;
    transition: .3s all; 
    position: relative;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Roboto';
    background: #1c0004;
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;      
        transition: .3s all; 
        margin-bottom: 0;  
        outline: none !important;   
    }  
    a {  
        transition: .3s all; 
        color: #fff;
        &:hover {
            transition: .3s all; 
            color: #fff;
        } 
    }
    ul {
    	padding: 0;
    	margin: 0; 
    } 
    input, button {
    	outline: none !important;
    	box-shadow: none;
    	transition: .3s all;
    }
    .container {
        width: 100%;
        max-width: 1200px;
    }
}

.detail-content {
    h2, h3, h4, h5, h6, ul {
        margin-bottom: 20px;
    }
    ul {
        padding-left: 18px;
    }
    p {
        margin-bottom: 20px;
    }
}
@import "layer.scss";

.box-film {
    padding: 150px 0;
}
.item-film {
    height: 100%;
    position: relative;
    .avarta {
        margin-bottom: 30px;
        overflow: hidden;
        img {
            transition: .5s all !important;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    .info {
        a {
            display: block;
            font-size: 24px;
            font-weight: bold;
        }
        p {
            font-weight: 300;
            margin-top: 6px;
        }
    }
    .practice {
        background: $red;
        font-size: 16px;
        font-weight: 300;
        border-radius: 5px;
        position: absolute;
        min-width: 50px;
        line-height: 1.4;
        padding: 4px 0;
        top: -25px;
        left: 10px;
        z-index: 2;
        pointer-events: none;
        label {
            display: block;
            font-weight: bold;
            color: #fff;
        }
    }
}

.banner-detail-thumbs {
    position: relative;
}
.avr-thumbs {
    img {
        object-fit: cover;
        min-height: 100vh;
    }
}
.caption-detail {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.caption-info {
    max-width: 775px;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    h1 {
        font-weight: bold;
        font-size: 48px;
        margin-bottom: 5px;
    }
}
.thumbs-film {
    margin-top: 20px;
}
.content-detail {
    padding: 100px 0;
    font-weight: 300;
}
.top-practice {
    display: flex;
    margin-bottom: 90px;
    .avr-prac {
        flex: 0 0 370px;
        margin-right: 30px;
    }
    ul {
        list-style: none;
    }
}

.item-prac {
    border-bottom: 1px solid #5f3f38;
    padding: 16px 0;
    a {
        color: #3e3e3e;
        display: flex;
        align-items: center;
        height: 30px;
        padding: 0 7px;
        border-radius: 6px;
        background: #fff;
        font-weight: normal;
        &:hover {
            color: #fff;
            background: $red;
        }
    }
    .ssub-prac {
        display: flex;
        flex-wrap: wrap;
        padding-top: 5px;
        li {
            margin: 0 8px 0 0;
            padding: 2px 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .left {
        flex: 0 0 100px;
    }
    &.d-flex {
        ul {
            li {
                padding-right: 25px;
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}
.sub-item-prac {
    p {
        font-weight: bold;
    }
}
.detail-info {
    margin: 0 auto;
    max-width: 775px;
    width: 100%;
    h2, h3, h4, h5, h6 {
        margin-bottom: 25px;
        color: $red;
        font-weight: bold;
    }
    ul {
        padding-left: 18px;
        margin-bottom: 25px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    p {
        margin-bottom: 15px;
    }
}

.box-info-detail {
    margin-bottom: 60px;
    &:last-child {
        margin-bottom: 0;
    }
    .t-detail {
        font-weight: bold;
        font-size: 24px;
        color: $red;
        margin-bottom: 25px;
    }
}